body {
  background-color: #333;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.App.anim {
  animation: flash 1s ease 1;
}

@keyframes flash {
  50% { background: #fff; }
}

h1 {
  margin: 0;
}

.container {
  height: 225px;
  width: 225px;
}

svg {
  z-index: -1;
  position: absolute;
}

.circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
}

.randy {
  font-family: 'Roboto Mono', monospace;
  line-height: 220px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10em;
  cursor: pointer;
}
