body {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

h1 {
  margin: 0;
}

.container {
  height: 250px;
  width: 250px;
}

svg {
  z-index: -1;
  position: absolute;
}

.circle {
  position: absolute;
  top: 0;
  fill: transparent;
  stroke: #333;
  stroke-width: 2;
}

.randy {
  line-height: 250px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 10em;
  cursor: pointer;
}
